{% extends ":Layout:Layout.html.twig" %}

{% block content %}
    <section class="cp-inner-banner">
        <div class="container">
            <div class="cp-inner-banner-outer">
                <h2>Online store</h2>
                <!--Breadcrumb Start-->
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">ADOPTION PETS</li>
                </ul><!--Breadcrumb End-->
            </div>
        </div>
    </section><!--Inner Banner Content End-->

    <!--Main Content Start-->
    <div class="cp-main-content">

        <!--Products Section Start-->
        <section class="cp-product-section pd-t100">


            <a href="{{ path('adopt_convertoxml') }}" class="gallery-btn">eeeeeeeeeeeeeeee</a>

    </section><!--Products Section End-->

    </div><!--Main Content End-->
{% endblock content %}