{% extends ":Layout:Layout.html.twig" %}

{% block content %}
    <!--Inner Banner Content Start-->
    <section class="cp-inner-banner">
        <div class="container">
            <div class="cp-inner-banner-outer">
                <h2>Blog</h2>
                <!--Breadcrumb Start-->
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li>Pages</li>
                    <li class="active">Blog</li>
                </ul><!--Breadcrumb End-->
            </div>
        </div>
    </section><!--Inner Banner Content End-->

    <!--Main Content Start-->
    <div class="cp-main-content">

        <!--Blog Section Start-->
        <section class="cp-blog-section pd-t100">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="col-md-12 col-sm-12">
                            <!--Blog Item Start-->
                            <article class="cp-blog-item">
                                <figure class="cp-thumb">
                                    <img src="images/blog/blog-full-img-01.jpg" alt="">
                                </figure>
                                <div class="cp-text">
                                    <div class="cp-date-box">
                                        <span>15</span>
                                        July
                                    </div>
                                    <div class="cp-inner">
                                        <h3>Praesent vehicula dapibus diam non porttitor.  </h3>
                                        <div class="cp-top">
                                            <ul class="cp-meta-listed">
                                                <li><i class="fa fa-user" aria-hidden="true"></i> Michel Jhon</li>
                                                <li><i class="fa fa-user" aria-hidden="true"></i> 762</li>
                                                <li>
                                                    <i class="fa fa-user" aria-hidden="true"></i>
                                                    <a href="#">Pets,</a>
                                                    <a href="#">Cats,</a>
                                                    <a href="#">Vaternity,</a>
                                                    <a href="#">Pet Health,</a>
                                                    <a href="#">Medical</a>
                                                </li>
                                            </ul>
                                            <ul class="right-nav">
                                                <li><i class="fa fa-heart" aria-hidden="true"></i> 232</li>
                                                <li class="share share-push"><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
                                            </ul>
                                            <ul class="cp-social-links share-holder">
                                                <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-phone-square" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                        <p>Etiam dictum. Nunc enim. Sed massa tellus, aliquam rhoncus, venenatis quis, suscipit ac, libero. Praesent odio tellus, posuere sed, dictum sed, fermentum at, orci. </p>
                                        <a href="blog-details.html" class="cp-btn-style3">Read More</a>
                                    </div>
                                </div>
                            </article><!--Blog Item End-->
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <!--Blog Item Start-->
                            <article class="cp-blog-item">
                                <div class="owl-carousel" id="cp-blog-slider">
                                    <div class="item">
                                        <figure class="cp-thumb"><img src="images/blog/blog-full-img-02.jpg" alt=""></figure>
                                    </div>
                                    <div class="item">
                                        <figure class="cp-thumb"><img src="images/blog/blog-full-img-03.jpg" alt=""></figure>
                                    </div>
                                    <div class="item">
                                        <figure class="cp-thumb"><img src="images/blog/blog-full-img-03.jpg" alt=""></figure>
                                    </div>
                                </div>
                                <div class="cp-text">
                                    <div class="cp-date-box">
                                        <span>20</span>
                                        July
                                    </div>
                                    <div class="cp-inner">
                                        <h3>Praesent vehicula dapibus diam non porttitor.  </h3>
                                        <div class="cp-top">
                                            <ul class="cp-meta-listed">
                                                <li><i class="fa fa-user" aria-hidden="true"></i> Michel Jhon</li>
                                                <li><i class="fa fa-user" aria-hidden="true"></i> 762</li>
                                                <li>
                                                    <i class="fa fa-user" aria-hidden="true"></i>
                                                    <a href="#">Pets,</a>
                                                    <a href="#">Cats,</a>
                                                    <a href="#">Vaternity,</a>
                                                    <a href="#">Pet Health,</a>
                                                    <a href="#">Medical</a>
                                                </li>
                                            </ul>
                                            <ul class="right-nav">
                                                <li><i class="fa fa-heart" aria-hidden="true"></i> 232</li>
                                                <li class="share share-push"><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
                                            </ul>
                                            <ul class="cp-social-links share-holder">
                                                <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-phone-square" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                        <p>Etiam dictum. Nunc enim. Sed massa tellus, aliquam rhoncus, venenatis quis, suscipit ac, libero. Praesent odio tellus, posuere sed, dictum sed, fermentum at, orci. </p>
                                        <a href="blog-details.html" class="cp-btn-style3">Read More</a>
                                    </div>
                                </div>
                            </article><!--Blog Item End-->
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <!--Blog Item Start-->
                            <article class="cp-blog-item">
                                <div class="cp-video-outer">
                                    <iframe src="https://player.vimeo.com/video/79954511"></iframe>
                                </div>
                                <div class="cp-text">
                                    <div class="cp-date-box">
                                        <span>15</span>
                                        July
                                    </div>
                                    <div class="cp-inner">
                                        <h3>Praesent vehicula dapibus diam non porttitor.  </h3>
                                        <div class="cp-top">
                                            <ul class="cp-meta-listed">
                                                <li><i class="fa fa-user" aria-hidden="true"></i> Michel Jhon</li>
                                                <li><i class="fa fa-user" aria-hidden="true"></i> 762</li>
                                                <li>
                                                    <i class="fa fa-user" aria-hidden="true"></i>
                                                    <a href="#">Pets,</a>
                                                    <a href="#">Cats,</a>
                                                    <a href="#">Vaternity,</a>
                                                    <a href="#">Pet Health,</a>
                                                    <a href="#">Medical</a>
                                                </li>
                                            </ul>
                                            <ul class="right-nav">
                                                <li><i class="fa fa-heart" aria-hidden="true"></i> 232</li>
                                                <li class="share share-push"><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
                                            </ul>
                                            <ul class="cp-social-links share-holder">
                                                <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-phone-square" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                        <p>Etiam dictum. Nunc enim. Sed massa tellus, aliquam rhoncus, venenatis quis, suscipit ac, libero. Praesent odio tellus, posuere sed, dictum sed, fermentum at, orci. </p>
                                        <a href="blog-details.html" class="cp-btn-style3">Read More</a>
                                    </div>
                                </div>
                            </article><!--Blog Item End-->
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <!--Blog Item Start-->
                            <article class="cp-blog-item">
                                <div class="cp-text">
                                    <div class="cp-date-box">
                                        <span>10</span>
                                        Aug
                                    </div>
                                    <div class="cp-inner">
                                        <h3>Praesent vehicula dapibus diam non porttitor.  </h3>
                                        <div class="cp-top">
                                            <ul class="cp-meta-listed">
                                                <li><i class="fa fa-user" aria-hidden="true"></i> Michel Jhon</li>
                                                <li><i class="fa fa-user" aria-hidden="true"></i> 762</li>
                                                <li>
                                                    <i class="fa fa-user" aria-hidden="true"></i>
                                                    <a href="#">Pets,</a>
                                                    <a href="#">Cats,</a>
                                                    <a href="#">Vaternity,</a>
                                                    <a href="#">Pet Health,</a>
                                                    <a href="#">Medical</a>
                                                </li>
                                            </ul>
                                            <ul class="right-nav">
                                                <li><i class="fa fa-heart" aria-hidden="true"></i> 232</li>
                                                <li class="share share-push"><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
                                            </ul>
                                            <ul class="cp-social-links share-holder">
                                                <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-phone-square" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                        <p>Etiam dictum. Nunc enim. Sed massa tellus, aliquam rhoncus, venenatis quis, suscipit ac, libero. Praesent odio tellus, posuere sed, dictum sed, fermentum at, orci. </p>
                                        <a href="blog-details.html" class="cp-btn-style3">Read More</a>
                                    </div>
                                </div>
                            </article><!--Blog Item End-->
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <!--Blog Item Start-->
                            <article class="cp-blog-item">
                                <div class="cp-audio-item">
                                    <div class="mp3-player-box">
                                        <audio preload="auto" controls>
                                            <source src="audio/BlueDucks_FourFlossFiveSix.mp3">
                                            <source src="audio/BlueDucks_FourFlossFiveSix.ogg">
                                            <source src="audio/BlueDucks_FourFlossFiveSix.wav">
                                        </audio>
                                    </div>
                                </div>
                                <div class="cp-text">
                                    <div class="cp-date-box">
                                        <span>10</span>
                                        Aug
                                    </div>
                                    <div class="cp-inner">
                                        <h3>Praesent vehicula dapibus diam non porttitor.  </h3>
                                        <div class="cp-top">
                                            <ul class="cp-meta-listed">
                                                <li><i class="fa fa-user" aria-hidden="true"></i> Michel Jhon</li>
                                                <li><i class="fa fa-user" aria-hidden="true"></i> 762</li>
                                                <li>
                                                    <i class="fa fa-user" aria-hidden="true"></i>
                                                    <a href="#">Pets,</a>
                                                    <a href="#">Cats,</a>
                                                    <a href="#">Vaternity,</a>
                                                    <a href="#">Pet Health,</a>
                                                    <a href="#">Medical</a>
                                                </li>
                                            </ul>
                                            <ul class="right-nav">
                                                <li><i class="fa fa-heart" aria-hidden="true"></i> 232</li>
                                                <li class="share share-push"><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
                                            </ul>
                                            <ul class="cp-social-links share-holder">
                                                <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-phone-square" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                        <p>Etiam dictum. Nunc enim. Sed massa tellus, aliquam rhoncus, venenatis quis, suscipit ac, libero. Praesent odio tellus, posuere sed, dictum sed, fermentum at, orci. </p>
                                        <a href="blog-details.html" class="cp-btn-style3">Read More</a>
                                    </div>
                                </div>
                            </article><!--Blog Item End-->
                        </div>
                        <!--PAGINATION START-->
                        <div class="pagination-box">
                            <nav>
                                <ul class="pagination">
                                    <li> <a href="#" aria-label="Previous"> <span aria-hidden="true"><i class="fa fa-angle-right" aria-hidden="true"></i></span> </a> </li>
                                    <li><a href="#">1</a></li>
                                    <li class="active"><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li> <a href="#" aria-label="Next"> <span aria-hidden="true"><i class="fa fa-angle-left" aria-hidden="true"></i></span> </a> </li>
                                </ul>
                            </nav>
                        </div><!--PAGINATION END-->
                    </div>
                    <div class="col-md-3">
                        <!--Asidebar Content Start-->
                        <aside class="cp-sidebar-outer">
                            <!--Widget Start-->
                            <div class="widget widget-search widget-search2">
                                <form method="get">
                                    <input type="text" placeholder="Search" required>
                                    <button type="submit"  class="btn-submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </form>
                            </div><!--Widget End-->
                            <!--Widget Start-->
                            <div class="widget">
                                <h3>About Our Center</h3>
                                <div class=" widget-author-inner">
                                    <div class="cp-round-img">
                                        <img src="images/widget-about-img.jpg" alt="">
                                    </div>
                                    <p>Praesent odio tellus, posuere sed, dictum sed, fermentum at, orcinc enim.Nunc enim.mentum at, orcinc enim dictum sed, ferm..</p>
                                </div>
                            </div><!--Widget End-->

                            <!--Widget Start-->
                            <div class="widget widget-recent-post">
                                <h3>Recent posts</h3>
                                <ul>
                                    <li>
                                        <div class="cp-recent-inner">
                                            <figure class="cp-thumb">
                                                <img src="images/recent-img-01.jpg" alt="">
                                            </figure>
                                            <div class="cp-text">
                                                <span class="date">May 21, 2016</span>
                                                <h5>Monday Morning </h5>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="cp-recent-inner">
                                            <figure class="cp-thumb">
                                                <img src="images/recent-img-02.jpg" alt="">
                                            </figure>
                                            <div class="cp-text">
                                                <span class="date">April 12, 2016</span>
                                                <h5>Monday Morning </h5>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="cp-recent-inner">
                                            <figure class="cp-thumb">
                                                <img src="images/recent-img-03.jpg" alt="">
                                            </figure>
                                            <div class="cp-text">
                                                <span class="date">July 21, 2016</span>
                                                <h5>Take A Tour </h5>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="cp-recent-inner">
                                            <figure class="cp-thumb">
                                                <img src="images/recent-img-04.jpg" alt="">
                                            </figure>
                                            <div class="cp-text">
                                                <span class="date">Aug 8, 2016</span>
                                                <h5>Monday Morning </h5>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div><!--Widget End-->

                            <!--Widget Start-->
                            <div class="widget widget-categories">
                                <h3>Categories</h3>
                                <ul>
                                    <li>Behavior <span>(09)</span></li>
                                    <li>Cat Care  <span>(11)</span></li>
                                    <li>Dog Care<span>(14)</span></li>
                                    <li>Genral Care <span>(15)</span></li>
                                    <li>General Health<span>(13)</span></li>
                                    <li>CIBC Cure<span>(14)</span></li>
                                </ul>
                            </div><!--Widget End-->

                            <!--Widget Start-->
                            <div class="widget widget-instagram">
                                <h3>Instagram </h3>
                                <ul>
                                    <li>
                                        <figure class="cp-thumb">
                                            <a href="#"><img src="images/instagram-img-01.jpg" alt=""></a>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure class="cp-thumb">
                                            <a href="#"><img src="images/instagram-img-02.jpg" alt=""></a>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure class="cp-thumb">
                                            <a href="#"><img src="images/instagram-img-03.jpg" alt=""></a>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure class="cp-thumb">
                                            <a href="#"><img src="images/instagram-img-04.jpg" alt=""></a>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure class="cp-thumb">
                                            <a href="#"><img src="images/instagram-img-05.jpg" alt=""></a>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure class="cp-thumb">
                                            <a href="#"><img src="images/instagram-img-06.jpg" alt=""></a>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure class="cp-thumb">
                                            <a href="#"><img src="images/instagram-img-07.jpg" alt=""></a>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure class="cp-thumb">
                                            <a href="#"><img src="images/instagram-img-08.jpg" alt=""></a>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure class="cp-thumb">
                                            <a href="#"><img src="images/instagram-img-09.jpg" alt=""></a>
                                        </figure>
                                    </li>
                                </ul>
                            </div><!--Widget End-->

                            <!--Widget Start-->
                            <div class="widget widget-categories">
                                <h3>ARCHIVE</h3>
                                <ul>
                                    <li>January <span>(09)</span></li>
                                    <li>February <span>(11)</span></li>
                                    <li>March <span>(18)</span></li>
                                    <li>April <span>(15)</span></li>
                                    <li>May <span>(22)</span></li>
                                    <li>June <span>(12)</span></li>
                                    <li>July <span>(17)</span></li>
                                </ul>
                            </div><!--Widget End-->

                            <!--Widget Start-->
                            <div class="widget widget-clouds">
                                <h3>POPULAR TAGS</h3>
                                <div class="tagcloud">
                                    <a href="#">Cat Care</a>
                                    <a href="#">Community</a>
                                    <a href="#">CIBC</a>
                                    <a href="#">General Health</a>
                                    <a href="#">Behavior</a>
                                    <a href="#">CIBC</a>
                                    <a href="#">Dog Care</a>
                                    <a href="#">Health Care</a>
                                    <a href="#">Emergecy</a>
                                </div>
                            </div><!--Widet End-->
                            <!--Widget Start-->
                            <div class="widget widget-appointment">
                                <h3>Get appointment </h3>
                                <form method="get">
                                    <input type="text" placeholder="Your Name" required>
                                    <input type="email" placeholder="Email Address" required>
                                    <input type="tel" placeholder="Your Phone" required>
                                    <input type="text" placeholder="Your Pte’s Type" required>
                                    <button type="submit" class="btn-submit cp-btn-style3">Submit</button>
                                </form>
                            </div><!--Widget End-->

                        </aside><!--Asidebar Content End-->
                    </div>
                </div>

            </div>
        </section><!--Blog Section End-->

    </div><!--Main Content End-->

{% endblock content %}