{% extends ":Layout:layoutAdmin.html.twig" %}

{% block content %}

    <!-- Right Panel -->


    <!-- Header-->

    <div class="content mt-3">
        <div class="animated fadeIn">


            <div class="row">
                <div class="col-lg-6" style="margin-left: 25%;">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Produit</strong>
                        </div>
                        <div class="card-body">
                            <!-- Credit Card -->
                            <div id="pay-invoice">
                                <div class="card-body">
                                    <div class="card-title">
                                        <h3 class="text-center">Ajouter une Boutique</h3>
                                    </div>
                                    <hr>
                                    <form action="" method="post"  class="form-horizontal">
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class=" form-control-label">Nom</label></div>
                                            <div class="col-12 col-md-9"><input type="text" id="text-input" name="nomboutique" placeholder="Nom de la boutique" class="form-control"></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="textarea-input" class=" form-control-label">Telephone :</label></div>
                                            <div class="col-12 col-md-9"><input type="number" id="text-input" name="telboutique" placeholder="Telephone de la boutique" class="form-control"></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class=" form-control-label">Adresse</label></div>
                                            <div class="col-12 col-md-9"><input type="text" id="text-input" name="adresseboutique" placeholder="Adresse" class="form-control"></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="file-input" class=" form-control-label">Image de la boutique</label></div>
                                            <input type="file" name="imageboutique">
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-sm">
                                            <i class="fa fa-dot-circle-o"></i> Ajouter
                                        </button>
                                        <button type="reset" class="btn btn-danger btn-sm">
                                            <i class="fa fa-ban"></i> Reset
                                        </button>
                                    </form>

                                </div>

                            </div>

                        </div>
                    </div> <!-- .card -->

                </div><!--/.col-->








            </div>


        </div><!-- .animated -->
    </div><!-- .content -->


{% endblock content %}