{% extends "ShopBundle::Layout.html.twig" %}

{% block content %}
    <section class="cp-inner-banner">
        <div class="container">
            <div class="cp-inner-banner-outer">
                <h2>Our Vets</h2>
                <!--Breadcrumb Start-->
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li>Pages</li>
                    <li class="active">Our vets</li>
                </ul><!--Breadcrumb End-->
            </div>
        </div>
    </section><!--Inner Banner Content End-->
    <div class="cp-main-content">

        <!--Veterinarians Section Start-->
        <section class="cp-veterinarians-section pd-tb100">
            <div class="container">
                <!--Heading Holder Start-->
                <div class="cp-heading-style1_v1">
                    <h2>Our Veterinarians</h2>
                </div><!--Heading Holder End-->
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <!--Veterinarians Box Start-->
                        <div class="cp-veterinarians-box">
                            <figure class="cp-thumb">
                                <img src="images/team-img-01.jpg" alt="">
                            </figure>
                            <div class="cp-text">
                                <h3><a href="team-detail.html">DR. Jonathan Doe</a></h3>
                                <span>Haed of Department</span>
                                <p>Nunc enim. Sed massa tellus, aliquam rhoncus, venenatis quis, suscipit ac, libero. Praesent odio tellus, posuere sed, dictum sed, fermentum at, orcinc enim. Aiquam  posuere sed, dictum sed, ferm... <a href="team-detail.html">(+)</a></p>
                                <ul class="cp-social-links">
                                    <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-phone-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                </ul>
                                <a href="team-detail.html" class="more-links">+ Know More</a>
                            </div>
                        </div><!--Veterinarians Box End-->
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <!--Veterinarians Box Start-->
                        <div class="cp-veterinarians-box">
                            <div class="cp-text">
                                <h3><a href="team-detail.html">Dr. Curtis Stonecipher</a> </h3>
                                <span>Veterinarian, Co-Owner</span>
                                <p>Nunc enim. Sed massa tellus, aliquam rhoncus, venenatis quis, suscipit ac, libero. Praesent odio tellus, posuere sed, dictum sed, fermentum at, orcinc enim. Aiquam  posuere sed, dictum sed, ferm... <a href="team-detail.html">(+)</a></p>
                                <ul class="cp-social-links">
                                    <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-phone-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                </ul>
                                <a href="team-detail.html" class="more-links">+ Know More</a>
                            </div>
                            <figure class="cp-thumb">
                                <img src="images/team-img-04.jpg" alt="">
                            </figure>
                        </div><!--Veterinarians Box End-->
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <!--Veterinarians Box Start-->
                        <div class="cp-veterinarians-box">
                            <figure class="cp-thumb">
                                <img src="images/blog-img-02.jpg" alt="">
                            </figure>
                            <div class="cp-text">
                                <h3><a href="team-detail.html">Dr. Nichole Logan</a> </h3>
                                <span>Dr. Nichole Logan </span>
                                <p>Nunc enim. Sed massa tellus, aliquam rhoncus, venenatis quis, suscipit ac, libero. Praesent odio tellus, posuere sed, dictum sed, fermentum at, orcinc enim. Aiquam  posuere sed, dictum sed, ferm... <a href="team-detail.html">(+)</a></p>
                                <ul class="cp-social-links">
                                    <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-phone-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                </ul>
                                <a href="team-detail.html" class="more-links">+ Know More</a>
                            </div>
                        </div><!--Veterinarians Box End-->
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <!--Veterinarians Box Start-->
                        <div class="cp-veterinarians-box">
                            <figure class="cp-thumb">
                                <img src="images/team-img-05.jpg" alt="">
                            </figure>
                            <div class="cp-text">
                                <h3><a href="team-detail.html">DR. Jonathan Doe</a></h3>
                                <span>Haed of Department</span>
                                <p>Nunc enim. Sed massa tellus, aliquam rhoncus, venenatis quis, suscipit ac, libero. Praesent odio tellus, posuere sed, dictum sed, fermentum at, orcinc enim. Aiquam  posuere sed, dictum sed, ferm... <a href="team-detail.html">(+)</a></p>
                                <ul class="cp-social-links">
                                    <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-phone-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                </ul>
                                <a href="team-detail.html" class="more-links">+ Know More</a>
                            </div>
                        </div><!--Veterinarians Box End-->
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <!--Veterinarians Box Start-->
                        <div class="cp-veterinarians-box">
                            <div class="cp-text">
                                <h3><a href="team-detail.html">Dr. Curtis Stonecipher</a> </h3>
                                <span>Veterinarian, Co-Owner</span>
                                <p>Nunc enim. Sed massa tellus, aliquam rhoncus, venenatis quis, suscipit ac, libero. Praesent odio tellus, posuere sed, dictum sed, fermentum at, orcinc enim. Aiquam  posuere sed, dictum sed, ferm... <a href="team-detail.html">(+)</a></p>
                                <ul class="cp-social-links">
                                    <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-phone-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                </ul>
                                <a href="team-detail.html" class="more-links">+ Know More</a>
                            </div>
                            <figure class="cp-thumb">
                                <img src="images/team-img-02.jpg" alt="">
                            </figure>
                        </div><!--Veterinarians Box End-->
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <!--Veterinarians Box Start-->
                        <div class="cp-veterinarians-box">
                            <figure class="cp-thumb">
                                <img src="images/team-img-06.jpg" alt="">
                            </figure>
                            <div class="cp-text">
                                <h3><a href="team-detail.html">Dr. Nichole Logan</a> </h3>
                                <span>Dr. Nichole Logan </span>
                                <p>Nunc enim. Sed massa tellus, aliquam rhoncus, venenatis quis, suscipit ac, libero. Praesent odio tellus, posuere sed, dictum sed, fermentum at, orcinc enim. Aiquam  posuere sed, dictum sed, ferm... <a href="team-detail.html">(+)</a></p>
                                <ul class="cp-social-links">
                                    <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-phone-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                </ul>
                                <a href="team-detail.html" class="more-links">+ Know More</a>
                            </div>
                        </div><!--Veterinarians Box End-->
                    </div>
                </div>
                <!--PAGINATION START-->
                <div class="pagination-box">
                    <nav>
                        <ul class="pagination">
                            <li> <a href="#" aria-label="Previous"> <span aria-hidden="true"><i class="fa fa-angle-right" aria-hidden="true"></i></span> </a> </li>
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li> <a href="#" aria-label="Next"> <span aria-hidden="true"><i class="fa fa-angle-left" aria-hidden="true"></i></span> </a> </li>
                        </ul>
                    </nav>
                </div><!--PAGINATION END-->
            </div>
        </section><!--Veterinarians Section End-->

    </div><!--Main Content End-->

{% endblock content %}