{% extends ":Layout:Layout.html.twig" %}

{% block content %}
    <!--Inner Banner Content Start-->
    <section class="cp-inner-banner">
        <div class="container">
            <div class="cp-inner-banner-outer">
                <h2>Gallery</h2>
                <!--Breadcrumb Start-->
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li>Pages</li>
                    <li class="active">Gallery3</li>
                </ul><!--Breadcrumb End-->
            </div>
        </div>
    </section><!--Inner Banner Content End-->

    <!--Main Content Start-->
    <div class="cp-main-content">

        <!--Gallery Section Start-->
        <section class="cp-gallery-section pd-t100">
            <div class="container">
                <div class="row pretty-gallery">
                    <div class="col-md-4 col-sm-6">
                        <!--Gallery Item Start-->
                        <figure class="cp-gallery-item">
                            <img src="{{ asset('images/gallery/gallery-col3-img-01.jpg') }}" alt="">
                            <figcaption class="cp-caption">
                                <div class="cp-inner">
                                    <a href="#" class="gallery-btn">Surgery</a>
                                    <h3>Ear Surgery</h3>
                                    <p>Etiam dictum. Nunc enim. Sed massa tellus, aliquam rhoncus, ven-</p>
                                    <ul class="cp-gallery-meta">
                                        <li><a href="images/gallery/gallery-col3-img-01.jpg" data-rel="prettyPhoto"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </figcaption>
                        </figure><!--Gallery Item End-->
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <!--Gallery Item Start-->
                        <figure class="cp-gallery-item">
                            <img src="{{ asset('images/gallery/gallery-col3-img-02.jpg') }}" alt="">
                            <figcaption class="cp-caption">
                                <div class="cp-inner">
                                    <a href="#" class="gallery-btn">Surgery</a>
                                    <h3>Ear Surgery</h3>
                                    <p>Etiam dictum. Nunc enim. Sed massa tellus, aliquam rhoncus, ven-</p>
                                    <ul class="cp-gallery-meta">
                                        <li><a href="images/gallery/gallery-col3-img-02.jpg" data-rel="prettyPhoto"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </figcaption>
                        </figure><!--Gallery Item End-->
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <!--Gallery Item Start-->
                        <figure class="cp-gallery-item">
                            <img src="{{ asset('images/gallery/gallery-col3-img-03.jpg') }}" alt="">
                            <figcaption class="cp-caption">
                                <div class="cp-inner">
                                    <a href="#" class="gallery-btn">Surgery</a>
                                    <h3>Ear Surgery</h3>
                                    <p>Etiam dictum. Nunc enim. Sed massa tellus, aliquam rhoncus, ven-</p>
                                    <ul class="cp-gallery-meta">
                                        <li><a href="images/gallery/gallery-col3-img-03.jpg" data-rel="prettyPhoto"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </figcaption>
                        </figure><!--Gallery Item End-->
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <!--Gallery Item Start-->
                        <figure class="cp-gallery-item">
                            <img src="{{ asset('images/gallery/gallery-col3-img-04.jpg') }}" alt="">
                            <figcaption class="cp-caption">
                                <div class="cp-inner">
                                    <a href="#" class="gallery-btn">Surgery</a>
                                    <h3>Ear Surgery</h3>
                                    <p>Etiam dictum. Nunc enim. Sed massa tellus, aliquam rhoncus, ven-</p>
                                    <ul class="cp-gallery-meta">
                                        <li><a href="images/gallery/gallery-col3-img-04.jpg" data-rel="prettyPhoto"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </figcaption>
                        </figure><!--Gallery Item End-->
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <!--Gallery Item Start-->
                        <figure class="cp-gallery-item">
                            <img src="images/gallery/gallery-col3-img-05.jpg" alt="">
                            <figcaption class="cp-caption">
                                <div class="cp-inner">
                                    <a href="#" class="gallery-btn">Surgery</a>
                                    <h3>Ear Surgery</h3>
                                    <p>Etiam dictum. Nunc enim. Sed massa tellus, aliquam rhoncus, ven-</p>
                                    <ul class="cp-gallery-meta">
                                        <li><a href="images/gallery/gallery-col3-img-05.jpg" data-rel="prettyPhoto"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </figcaption>
                        </figure><!--Gallery Item End-->
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <!--Gallery Item Start-->
                        <figure class="cp-gallery-item">
                            <img src="images/gallery/gallery-col3-img-06.jpg" alt="">
                            <figcaption class="cp-caption">
                                <div class="cp-inner">
                                    <a href="#" class="gallery-btn">Surgery</a>
                                    <h3>Ear Surgery</h3>
                                    <p>Etiam dictum. Nunc enim. Sed massa tellus, aliquam rhoncus, ven-</p>
                                    <ul class="cp-gallery-meta">
                                        <li><a href="images/gallery/gallery-col3-img-06.jpg" data-rel="prettyPhoto"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </figcaption>
                        </figure><!--Gallery Item End-->
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <!--Gallery Item Start-->
                        <figure class="cp-gallery-item">
                            <img src="images/gallery/gallery-col3-img-07.jpg" alt="">
                            <figcaption class="cp-caption">
                                <div class="cp-inner">
                                    <a href="#" class="gallery-btn">Surgery</a>
                                    <h3>Ear Surgery</h3>
                                    <p>Etiam dictum. Nunc enim. Sed massa tellus, aliquam rhoncus, ven-</p>
                                    <ul class="cp-gallery-meta">
                                        <li><a href="images/gallery/gallery-col3-img-07.jpg" data-rel="prettyPhoto"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </figcaption>
                        </figure><!--Gallery Item End-->
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <!--Gallery Item Start-->
                        <figure class="cp-gallery-item">
                            <img src="images/gallery/gallery-col3-img-08.jpg" alt="">
                            <figcaption class="cp-caption">
                                <div class="cp-inner">
                                    <a href="#" class="gallery-btn">Surgery</a>
                                    <h3>Ear Surgery</h3>
                                    <p>Etiam dictum. Nunc enim. Sed massa tellus, aliquam rhoncus, ven-</p>
                                    <ul class="cp-gallery-meta">
                                        <li><a href="images/gallery/gallery-col3-img-08.jpg" data-rel="prettyPhoto"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </figcaption>
                        </figure><!--Gallery Item End-->
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <!--Gallery Item Start-->
                        <figure class="cp-gallery-item">
                            <img src="images/gallery/gallery-col3-img-09.jpg" alt="">
                            <figcaption class="cp-caption">
                                <div class="cp-inner">
                                    <a href="#" class="gallery-btn">Surgery</a>
                                    <h3>Ear Surgery</h3>
                                    <p>Etiam dictum. Nunc enim. Sed massa tellus, aliquam rhoncus, ven-</p>
                                    <ul class="cp-gallery-meta">
                                        <li><a href="images/gallery/gallery-col3-img-09.jpg" data-rel="prettyPhoto"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </figcaption>
                        </figure><!--Gallery Item End-->
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <!--Gallery Item Start-->
                        <figure class="cp-gallery-item">
                            <img src="images/gallery/gallery-col3-img-10.jpg" alt="">
                            <figcaption class="cp-caption">
                                <div class="cp-inner">
                                    <a href="#" class="gallery-btn">Surgery</a>
                                    <h3>Ear Surgery</h3>
                                    <p>Etiam dictum. Nunc enim. Sed massa tellus, aliquam rhoncus, ven-</p>
                                    <ul class="cp-gallery-meta">
                                        <li><a href="images/gallery/gallery-col3-img-10.jpg" data-rel="prettyPhoto"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </figcaption>
                        </figure><!--Gallery Item End-->
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <!--Gallery Item Start-->
                        <figure class="cp-gallery-item">
                            <img src="images/gallery/gallery-col3-img-11.jpg" alt="">
                            <figcaption class="cp-caption">
                                <div class="cp-inner">
                                    <a href="#" class="gallery-btn">Surgery</a>
                                    <h3>Ear Surgery</h3>
                                    <p>Etiam dictum. Nunc enim. Sed massa tellus, aliquam rhoncus, ven-</p>
                                    <ul class="cp-gallery-meta">
                                        <li><a href="images/gallery/gallery-col3-img-11.jpg" data-rel="prettyPhoto"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </figcaption>
                        </figure><!--Gallery Item End-->
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <!--Gallery Item Start-->
                        <figure class="cp-gallery-item">
                            <img src="images/gallery/gallery-col3-img-12.jpg" alt="">
                            <figcaption class="cp-caption">
                                <div class="cp-inner">
                                    <a href="#" class="gallery-btn">Surgery</a>
                                    <h3>Ear Surgery</h3>
                                    <p>Etiam dictum. Nunc enim. Sed massa tellus, aliquam rhoncus, ven-</p>
                                    <ul class="cp-gallery-meta">
                                        <li><a href="images/gallery/gallery-col3-img-12.jpg" data-rel="prettyPhoto"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </figcaption>
                        </figure><!--Gallery Item End-->
                    </div>
                </div>
                <!--PAGINATION START-->
                <div class="pagination-box">
                    <nav>
                        <ul class="pagination">
                            <li> <a href="#" aria-label="Previous"> <span aria-hidden="true"><i class="fa fa-angle-right" aria-hidden="true"></i></span> </a> </li>
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li> <a href="#" aria-label="Next"> <span aria-hidden="true"><i class="fa fa-angle-left" aria-hidden="true"></i></span> </a> </li>
                        </ul>
                    </nav>
                </div><!--PAGINATION END-->
            </div>
        </section><!--Gallery Section End-->

    </div><!--Main Content End-->

{% endblock content %}